<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RupeeXpert</title>
  <script>
    window.onload = function() {
      document.getElementById('job').onclick = function() {
        document.getElementById('jobDetails').style.display = 'flex';
        document.getElementById('businessDetails').style.display = 'none';
      }
      document.getElementById('business').onclick = function() {
        document.getElementById('jobDetails').style.display = 'none';
        document.getElementById('businessDetails').style.display = 'flex';
      }
    }
  </script>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      background: url(/Animated\ Shape.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      min-height: 100vh;
    }

    .top {
      display: flex;
      width: 45vw;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1rem;
      gap: 10px;
    }

    .nav {
      display: flex;
      justify-content: flex-start;
      align-items: baseline;
      box-sizing: border-box;
      padding: 1rem;
      gap: 10px;
    }

    .nav>a {
      padding: 1rem;
      color: white;
      text-decoration: none;
    }

    #ad {
      width: 30vw;
    }

    .headings {
      color: white;
    }

    #logo {
      width: 100px;
    }

    .bottom {
      padding: 0rem;
      box-sizing: border-box;
      width: 45vw;
      border-radius: 10px;
      margin-top: 12rem;
    }

    form {
      padding: 10px;
      border-radius: 10px;
    }

    .form-group {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0);
      border-radius: 5px;
      color: white;

    }

    label {
      margin-bottom: 5px;
      color: white;
    }

    input[type="text"],
    input[type="number"],
    input[type="tel"] {

      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    input[type="submit"] {
      background-color: #F78F34;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #c08654;
    }

    .benefits {
      display: none;
    }

    @media (max-width: 600px) {
      body {
        flex-direction: column;
        align-items: center;
      }

      .nav {
        width: 98vw;
      }

      .top {
        width: 98vw;
      }

      .bottom {
        width: 98vw;
        margin-top: 0;
      }

      #ad {
        width: 95vw;
      }

      .form-group {
        width: 100%;
      }

      .benefits {
        padding: 1rem;
        display: block;
        overflow: hidden;
      }

      .benCards {
        display: flex;
        gap: 0.8rem;
        overflow: auto;
        width: 100vw;
        margin: 2rem 0rem;
      }

      .benCards>div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F78F34;
        color: white;
        padding: 5px;
        border-radius: 10px;

      }

      .benCards>div>img {
        width: 50px;
      }

      .benCards>div>p {
        width: 120px;
        text-align: center;
      }

      .achievements {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 3rem 0rem;
      }

      .achievements>img {
        width: 30%;
      }

      .services {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }

      .services>img {
        width: 40%;
        padding: 10px;
        background-color: #FF914C;
        border-radius: 10px;
      }

      .aboutus {
        color: white;
      }
    }
  </style>
</head>

<body>
  <div class="top">
    <div class="nav">
      <img id="logo" src="/logo.svg" alt="Logo">
      <a href="/loan/apply">GET LOAN</a>
      <a href="/dashboard/overview">DASHBOARD</a>
    </div>
    <img id="ad" src="/Group 7.png" alt="">
  </div>
  <div class="bottom">
    <form action="/loan/apply" method="POST">
      <div class="form-group">
        <label for="fullName">Full Name (As per Pan Card):</label>
        <input type="text" id="fullName" name="fullName" required>
      </div>
      <div class="form-group">
        <label for="contactNo">Contact No:</label>
        <input type="tel" id="contactNo" name="contactNo" required minlength="13" maxlength="13" onkeypress="return validateNumber(event);">
        <script>
          document.getElementById("contactNo").value = "+91"; // Pre-populate with country code and space
          function validateNumber(event) {
            const key = String.fromCharCode(event.charCode || event.keyCode);
            if (!/[0-9]/.test(key)) {
              event.preventDefault();
              return false;
            }
            return true;
          }
        </script>
      </div>
      <div class="form-group">
        <label for="occupation">Occupation:</label>
        <div id="occupation">
          <input type="radio" id="job" name="occupation" value="Job" checked>
          <label for="job">Job</label>
          <input type="radio" id="business" name="occupation" value="Business">
          <label for="business">Business</label>
        </div>
      </div>
      <div class="form-group" id="jobDetails">
        <label for="monthlyNetSalary">Monthly NET Salary:</label>
        <input type="number" id="monthlyNetSalary" name="monthlyNetSalary">
      </div>
      <div class="form-group" id="businessDetails" style="display: none;">
        <label for="yearlyTurnover">Yearly Turnover:</label>
        <input type="number" id="yearlyTurnover" name="yearlyTurnover">
      </div>
      <div class="form-group">
        <input type="submit" value="Apply">
      </div>
    </form>
    <div class="benefits">
      <h2 class="headings">Benefits of RupeeXpert Loan</h2>
      <div class="benCards">
        <div>
          <img src="/paperless.png" alt="">
          <p>100% paperless process</p>
        </div>
        <div>
          <img src="/5mins.png" alt="">
          <p>5 mins Disbursal</p>
        </div>
        <div>
          <img src="/docs.png" alt="">
          <p>Minimum Documentation</p>
        </div>
        <div>
          <img src="/calender.png" alt="">
          <p>Choose any EMI Date</p>
        </div>
        <div>
          <img src="/interest.png" alt="">
          <p>Attractive interest rates</p>
        </div>
      </div>
      <div class="achievements">
        <img src="/achie1.png" alt="">
        <img src="/achie2.png" alt="">
      </div>
      <h2 class="headings">Our Services</h2>
      <div class="services">
        <img src="/PersonalLoan.png" alt="">
        <img src="/HomeLoan.png" alt="">
        <img src="/LapLoan.png" alt="">
        <img src="/BusinessLoan.png" alt="">
      </div>
      <h2 class="headings">About Us</h2>
      <div class="aboutus">
        <p>Rupee Xpert's mission is to enable sustainable livelihoods and empower the next 100 million households through accessible and affordable financial services.
          It is building a co-creation platform that fosters hyperlocal livelihood innovation and mass customisation.
          We currently focus on providing micro loans for income generation that enable sustainable livelihood creation.</p>
      </div>
    </div>
  </div>
</body>

</html>