<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overview</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js"></script>
    <link rel="stylesheet" href="/overview.css">
</head>

<body>
    <div id="head3r">
        <div class="toggle">
            <i class="fas fa-bars"></i>
        </div>
        <img src="/XpertRupees_Logo_White.svg" alt="">
        <a href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
    <nav>
        <ul>
            <li>
                <a class="toggle">
                    <span class="icon"><i class="fas fa-bars"></i></span>
                    <img src="/XpertRupees_Logo_White.svg" alt="">
                </a>
            </li>
            <li>
                <a href="/dashboard/overview">
                    <span class="icon"><i class="fas fa-home"></i></span>
                    <span class="title">Overview</span>
                </a>
            </li>
            <% if (role==='admin' ) { %>
                <li>
                    <a href="/dashboard/users">
                        <span class="icon"><i class="fas fa-user"></i></span>
                        <span class="title">Users</span>
                    </a>
                </li>
                <% } %>
            <li>
                <a href="/dashboard/leads">
                    <span class="icon"><i class="fas fa-envelope"></i></span>
                    <span class="title">Leads</span>
                </a>
            </li>
            <li>
                <a href="/auth/logout">
                    <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                    <span class="title">Sign Out</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="main ov">
        <h1>Overview</h1>
        <div class="cards">
            <div class="card">
                <h3>Leads Today <i class="far fa-calendar-plus"></i></h3>
                <p><%= totalLeadsToday %></p>
            </div>
            <div class="card">
                <h3>Total Leads <i class="fas fa-tasks"></i></h3>
                <p><%= totalLeads %></p>
            </div>
        </div>
    </div>
</body>
<script src="/overview.js"></script>

</html>